        
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<a href="https://kpyvara.com/" class=" m-r-20 hidden-sm-up" mat-raised-button color="warn">Deseas estar dentro</a>
<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"> <img src="https://scontent.fcue1-1.fna.fbcdn.net/v/t1.0-9/99122082_1571154996392499_1143537778454167552_n.png?_nc_cat=103&_nc_sid=09cbfe&_nc_eui2=AeFwB_ofmDffKqGD3cNWYj8bU_bfoRsmKvBT9t-hGyYq8PrpaeW7RCIneqMGbfXjJFErfFmw56R7yn0nUnj2Zwad&_nc_ohc=nmx9U9qd6oIAX97_D7J&_nc_ht=scontent.fcue1-1.fna&oh=505bd735c26176a0f293efdb12139e71&oe=5F2387C0" alt="user" class="profile-pic"> </button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item>
        <mat-icon>settings</mat-icon> Settings </button>
    <button mat-menu-item>
        <mat-icon>account_box</mat-icon> Profile </button>
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon> Disable notifications </button>
    <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon> Sign Out </button>
</mat-menu>

