<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex flex-wrap">
                    <div>
                        <mat-card-title>Bienvenido al sistema de consultas catastrales  </mat-card-title>
                        <mat-card-subtitle>Usted mediante los filtros podras ver catastros
                        </mat-card-subtitle>
                    </div>
                </div>
            </mat-card-content>

        </mat-card>
        <mat-card>
            <div fxFlex.gt-lg="30" fxFlex.gt-md="30" fxFlex.gt-xs="100" fxFlex="100">
                <mat-card-content>
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput placeholder="Ingrese la cedula o clave catastral" required minlength="9"
                                appForbiddenName="bob" [(ngModel)]="clave" #cedulas="ngModel" (keyup)="_keyUp($event)">
                            <mat-hint>Necesitamos su la cedula o clave catastral para generar!</mat-hint>
                            <mat-error *ngIf="_keyDat()">
                                Error el numero de la cedula o clave catastral no corresponde
                            </mat-error>
                        </mat-form-field>

                        <div style="height: 20px;"></div>
                        <button mat-button mat-raised-button color="primary" (click)="onClickMe()">Buscar</button>
                    </div>
                </mat-card-content>

            </div>
        </mat-card>


        <mat-card *ngIf="isData">
          <div fxFlex.gt-lg="100" fxFlex.gt-md="70" fxFlex.gt-xs="100" fxFlex="100" fxFlex.sm="50" fxFlex.gt-lg="50">
          <mat-card-header style="text-align: center;">

            <mat-card-title>Nombre del usuario</mat-card-title>
            <mat-card-subtitle> Registrado en el centro de catastros</mat-card-subtitle>
          </mat-card-header>

              <mat-card-content>
                 <div fxFlex.gt-lg="20" fxFlex.gt-md="30"> <img src="https://img.icons8.com/office/40/000000/user.png"/> </div>
                 <div style="margin-top: 15px; margin-left: 10px;" fxFlex.gt-lg="60" fxFlex.gt-md="60">
                  <h6>{{nombresCompletos}}</h6>
                </div>
              </mat-card-content>
          </div>
      </mat-card>

      <mat-card  *ngIf="isData && observacion != 'null'" >
        <div fxFlex.gt-lg="100" fxFlex.gt-md="70" fxFlex.gt-xs="100" fxFlex="100" fxFlex.sm="50" fxFlex.gt-lg="50">
          <mat-card-header style="text-align: center;">
            <mat-card-title>Observaciones encontradas </mat-card-title>
            <mat-card-subtitle>El usuario presenta los siguientes problemas</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
             <div fxFlex.gt-lg="20" fxFlex.gt-md="30" fxFlex.gt-xs="30" fxFlex="30"><img src="https://img.icons8.com/color/48/000000/stargaze.png"/></div>
             <div style="margin-top: 15px; " fxFlex.gt-lg="70" fxFlex.gt-md="70" fxFlex.gt-xs="70" fxFlex="70">
              <h6>{{observacion}}</h6>
            </div>
          </mat-card-content>
      </div>
      </mat-card>


      <mat-card *ngIf="isData">
        <div fxFlex.gt-lg="100" fxFlex.gt-md="70" fxFlex.gt-xs="100" fxFlex="100" fxFlex.sm="50" fxFlex.gt-lg="50">
        <mat-card-header style="text-align: center;">

          <mat-card-title>Pagos que tiene que realizar</mat-card-title>
          <mat-card-subtitle>Los impuestos son los siguietes</mat-card-subtitle>
        </mat-card-header>

            <mat-card-content class="container" >
              <div class="container-tax">
                <img src="https://img.icons8.com/color/48/000000/tax.png" />
                 <div class="container-tax-description">
                   <label> <b>Impuesto</b></label>
                   <h6>{{impuesto}}</h6>
                 </div>
              </div>

              <div class="container-tax">
                <img src="https://img.icons8.com/color/48/000000/fire-truck.png" />
                <div class="container-tax-description">
                  <label> <b>Bomberos</b></label>
                  <h6>{{bomberos}}</h6>
                </div>
              </div>
              <br>
              <div class="container-tax">
                <img src="https://img.icons8.com/office/40/000000/mobile-payment.png" />
                <div class="container-tax-description">
                  <label> <b>Total</b></label>
                  <h6>{{total}}</h6>
                </div>
              </div>
            </mat-card-content>
        </div>
    </mat-card>

    <mat-card style="margin: 0%; padding: 0%;" >
      <div  fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <div id='mapBox'></div>
       </div>
    </mat-card>
    </div>
</div>

